<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section class="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <img class="pokeicoNav" src="assets/imagenes/pokeblack.png">
        <p class="textNav">Pokedex</p>
        <span id="icono" class="material-icons md-48">search</span>
    </nav>
    <div class="example-button">
        <button mat-raised-button color="primary" class="boton1">Primary</button>
        <button mat-raised-button color="primary" class="boton2">Primary</button>
        <button mat-raised-button color="primary" class="boton3">Primary</button>
        <button mat-raised-button color="primary" class="boton4">Primary</button>
      </div>
    <img class="pokemon" src="assets/imagenes/pokemon.png">
    <h1 class="titulo">¿Que quieres hacer?</h1>
</section>
